<article class="prose lg:prose-xl text-slate-500 dark:text-slate-400">
  <h2 class="text-slate-900 dark:text-white">Narendra Modi</h2>
  <i>(Naam to suna hi hoga) </i>
  <p>
   Narendra DamodarDas Modi is the 15th and current Prime Minister of India,
   Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister
   of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi. 
  </p>
</article>
